

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


.textoretro {
  font-family: 'Share Tech Mono', monospace;
}

* {
  font-family: 'Roboto', sans-serif;
  color:#000;
}

.centrototal {
  margin:auto;
}

.center {
    text-align: center;
}

.imagens {
 background-image: url("https://i.ibb.co/52kNt4V/pokebola.png");
background-repeat: no-repeat;
background-size: 18rem;
background-position: center;
}

.corpo{
  
  background-color:#FFF;

}

.logo {
  width: 7rem;
}

.gifpokebola
{
  height:20rem;
  width:20rem;

}

.fotopokemon {
  height: 18rem;
  width: 18rem;
}


.typeicon {
  height: 3rem;
  width: 3rem;
}

.separartopo {
  margin-top:5rem;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
