@import url(//fonts.googleapis.com/css?family=Roboto:700,400,300,100);@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  font-family: 'Share Tech Mono', monospace;
  color:#FFF;
}

.center {
    text-align: center;
}

body{
  background-color:#5ea0c9;
}

.backpokeball
{
  z-index: 0;
  height:20rem;
  width:20rem;
}

#foto {
  position: absolute;
  z-index: 1;
  right:45%;
  height: 20rem;
  width: 20rem;
  text-align: center;
  
}

.typeicon {
  height: 3rem;
  width: 3rem;
}